---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=82766e25&app_key=32ec3bc7ef8782994549b42da904862e&field%5B%5D=image&field%5B%5D=label&field%5B%5D=url&q=sadfsadf&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Wed, 16 Nov 2022 07:40:46 GMT
recorded_with: VCR 6.1.0
